*,*::before,*::after{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F3F6FB;
}
.container{
    max-width: 1280px;
    margin:  0 auto;
    padding: 0 2em;
}
.row{
    display: flex;
    align-items: center;
}
.col{
    display: flex;
    flex-direction: column;
}
img{
    max-width: 100%;
}

p{
    line-height: 1.7;
}
/* KEY FRAMES  */


/* HEADER SECTION */
.fa-bars{
    color: white;
    font-size: 1.8rem;
    display: none;
}
.fa-xmark{
    display: none;
}
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(255,103,82);
    background: linear-gradient(126deg, rgba(255,103,82,1) 41%, rgba(255,160,70,1) 100%);
    padding: 2em;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

}
nav ul{
    display: flex;
}
.nav__link{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    letter-spacing: .35px;
    font-weight: 600;
    font-family: 'Montserrat';
    transition: color .4s ease;
}
.nav__link:hover{
    color: #4487FF;
}
li{
    list-style: none;
}


li+li{
    margin-left: 2em;
}
h1{
    font-size: 5rem;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';

}
.custom-shape-divider-bottom-1656772972 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1656772972 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 163px;
}


.custom-shape-divider-bottom-1656772972 .shape-fill {
    fill:#F3F6FB;
}
.header__content{
    width: 100%;
    text-align: left;
    color: #ffffff;
    align-items: flex-start;
    gap: 2em;
    height: 70vh;
    justify-content: center;
}

.header__content p{
    width: 80%;
    font-size: 1.1rem;
    line-height: 1.7;
}
.header__btns{
    width: 100%;
    gap: 2em;
    justify-content: flex-start;
}
.btn{
    background-color: #4487FF;
    border: none;
    border-radius: 2em;
    padding: 1em 2em;
    font-size: 1em  ;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .15px;
    transition: all .2s ease;
}
.btn:hover{
    background-color: #6b9cf6;
    transform: translateY(2px);
}
.btn__call{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: .15px;
}

.btn__call span{
    text-decoration: underline;
}

/* OUR SERVICES */
.ourServices{
    padding: 5em 2em;
}
.wrapper{
    position: relative;
    width: 100%;
    padding: 2em 0;
    margin: 0;
}

.heading__section{
    font-size: 2rem;
    letter-spacing: .35px;
    color: #FF6752;
}
.services__content p{
    font-size: 1.275rem;
    color: rgb(159, 158, 158);
    width: 85%;
    margin-top: 1em;
}
.services{
    width: 60%;
}
.service__row{
    justify-content: flex-end;
}
.service__row + .service__row{
    margin-top: 5em;
}
.service__card + .service__card{
    margin-left: 5em;
}
.service__card{
    background-color: #fff;
    padding: 2em;
    gap: 2em;
    border-radius: 1em;
    box-shadow: 0px 3px 8px rgba(0,0,0,.15);
    place-items: center;
    width: 60%;
    text-align: center;
    z-index: 2;
    
}
.service__card__heading{
    font-size: 1.325rem;
    font-weight: 400;
}
.service__card__img{
    width:35%;
}
.custom-shape-divider-bottom-1656780438 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1656780438 svg {
    position: relative;
    display: block;
    width: calc(176% + 1.3px);
    height: 25vh;
    transform: rotateY(180deg);
}
#header-shape-gradient {
    --color-stop: #4487FF;
    --color-bot: #6a9cfa;
  }
.custom-shape-divider-bottom-1656780438 .shape-fill {
    fill:url(#header-shape-gradient) #fff;
}

/* Testmonials */
.testmonials__wrapper{
    position: relative;
}
.testmonials{
    padding: 5em 0;
    width: 80%;
    place-items: center;
}
.custom-shape-divider-top-1656882394 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -2;

}

.custom-shape-divider-top-1656882394 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 272px;

}

#header-shape-gradient-bottom {
    --color-stop: #6a9cfa;
    --color-bot: #4487FF;
  }
.custom-shape-divider-top-1656882394 .shape-fill {
    fill:url(#header-shape-gradient-bottom) #fff;

}
.testmonial__wrapper{
    width: 100%;
}
.testmonials .heading__section{
    width: 60%;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 2em;
}
.testmonial__card{
    place-items: center;
    text-align: center;
    gap: 1em;
    position: relative;
    color: white;
    padding:2em;
    width: 100%;
    border-radius: 1em;
}
.testmonial__card:nth-child(1), .testmonial__card:nth-child(3){
    background-color: #d56046;
}
.testmonial__card:nth-child(2){
    background-color: #4487FF;
}

.testmonial__card  + .testmonial__card{
    margin-left: 2em;
}
.card__img{
    width: 15%;
    border-radius: 50%;
    z-index: 2;
}
.custom-shape-divider-top-1656885627 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.custom-shape-divider-top-1656885627 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
    border-radius: 1em;

}

.custom-shape-divider-top-1656885627 .shape-fill {
    fill: #6A9CFA;
}
.card__heading{
    z-index: 2;
}
.card__paragraph{
    z-index: 2;
}
.custom-shape-divider-top-1656885910 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1656885910 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
    border-radius: 1em;

}

.custom-shape-divider-top-1656885910 .shape-fill {
    fill: #FF6752;
}

/* HOW IT WORKS */
.howItworks__wrapper{
    position: relative;
}
.bg-howItWorks__wrapper{
    position: absolute;
    right: 0px;
    width: 50%;
    z-index: -2;
}
.howItWorks{
    display: flex;
    align-items: center;
    gap: 2em;
}
.howItWorks__steps{
    position: relative;
    width:40%;
}
.bg-howItWorks{
    position: absolute;
    top: 20px;
    height: 95%;
    z-index: -1;
}
.step__card{
    padding: 2em 4em;
    background-color: white;
    text-align: center;
    align-items: center;
    gap: 1em;
    width: 50%;
    border-radius: 1em;
    box-shadow: 0px 3px 8px rgba(0,0,0,.15);
}

.step__card:nth-child(3){
    align-self: flex-end;
}
.paragraph__section{
    width: 75%;
    color: #a09f9f;
}

/* MakeFetchHappen Section */
.makeFetchHappen{
    background-color: #4487FF;
    padding: 2em;
    border-radius: 1em;
    color: white;
    gap: 2em;
}
.makeFetchHappen__wrapper{
    padding: 5em;
}
.makeFetchHappen .heading__section{
    color: #FFE530;
}
.makeFetchHappen__btn{
    background-color: white;
    color: #FF6752;
    font-weight: 700;
}
.makeFetchHappen__btn:hover{
    background-color: #FF6752;
    color: white;
}
.makeFetchHappen__content{
    gap: 1em;
}
.makeFetchHappen__content p{
    width: 85%;
}
/* AS SEEN ON SECTION */
.asSeenOn{
    padding: 5em;
}
.asSeenOn .row{
    justify-content: space-between;
}
.asSeenOn__logo{
    width: 100px;
}
/* FOOTER */
.footer{
    position: relative;
    background-color: #FF6752;
    padding: 5em 0;
    display: flex;
    place-items: center;

}
.custom-shape-divider-top-1657044288 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1657044288 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 130px;
}

.custom-shape-divider-top-1657044288 .shape-fill {
    fill: #F3F6FB;
}
.footer__container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2em;
    margin-top: 2em;
    flex: 1;
    flex-wrap: wrap;
}
.footer__heading{
    color:#FFE530;
    font-size: 1.4rem;
    margin-top: 1em;
    margin-bottom: 1em;
}
.footer__links{
    color: white;
    text-decoration: none;
    letter-spacing: .15px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Montserrat";
    transition: all .4s ease;
}
.footer__links:hover{
    color: #4487FF;
}
.footer__links + .footer__links{
    margin-top: 1em;
}

.hidden{
    visibility: hidden;
}
.newspaper{
    align-self: flex-start;
}
.footer__paragraph{
    color: white;
    font-size: 1.2rem;
    font-family: "Montserrat";
    margin-bottom: 1em;
}
.newspaper__input{
    padding: 1.2em;
    border: none;
    background-color: transparent;
}
.newspaper__signUp{
    background-color: white;
    justify-content: space-between;
    border-radius: 2em;
}
.newspaper__signUp i{
    background-color: #FF6752;
    padding: .5em;
    border-radius: 50%;
    cursor: pointer;
    color:white;
    margin-right: .5em;
}
input[type="email"]::placeholder{
    color: #a09f9f;
    letter-spacing: .35px;
    font-size: .9rem;
}
.social__links__container{
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
}
.social__links{
    background-color: #fff;
    color: #a09f9f;
    padding: 1em;
    border-radius: 50%;
    transition: all .4s ease;
    cursor: pointer;
}
.social__links:hover{
    background-color: #6a9cfa;
    color: white;
}

/* MEDIA QUERIES */


@media (max-width:1100px) {
    h1{
        font-size: 3rem;
    }
    .header__content p{
        width: 100%;
    }
    .ourServices{
        flex-direction: column;
        text-align: center;
    }
    .services__content p{
        width: 100%;
        margin-bottom: 2em;
    }
    .services{
        width: 80%;
    }
    .heading__section{
        font-size: 2rem;
    }
    .howItWorks{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .howItWorks__steps{
        transform: rotate(90deg);
    }
    .bg-howItWorks{
        right: 45px;
        top: 0;
    }
    .step__card{
        transform: rotate(-90deg);
    }
    .paragraph__section{
        width: 100%;
    }
    .makeFetchHappen{
        flex-direction: column;
        text-align: center;
        width: 85%;
    }
    .makeFetchHappen__content p{
        width: 100%;
    }
    .makeFetchHappen .row{
        justify-content: center;
    }
}


@media (max-width:768px){
    .fa-bars{
        display: block;
    }
    .fa-xmark{
        color: white;
        align-self: flex-start;
        display: block;
        margin-top: 2em;
        font-size: 1.4rem;
        cursor: pointer;
        margin-left: 30px;
    }
    .nav__links ul li{
        display: block;
    }
    .nav__links ul{
        display: block;
    }
    li +li{
        margin-left: 0;
    }
    .nav__links{
        position: absolute;
        background-color: #4487FF;
        height: 100vh;
        width: 250px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 100;
        justify-content: flex-start;
        align-items: center;
        transition: all 1s ease;
    }
    
    .nav__links ul{
        margin: 2em;
    }
    .nav__links ul li a{
        font-size: 1rem;
    }
    .nav__link:hover{
        color: #FF6752;
    }

    li +li{
        margin-top: 5em;
    }
    .header{
        height: 80vh;
    }
    h1{
        font-size: 2rem;
    }
    .header__content p{
        font-size: .9rem;
    }
    .btn{
        font-size: .8rem;
        padding: 1em 2em;
    }
    .btn__call{
        font-size: .8rem;
    }
    .heading__section h2{
        font-size: 1.8rem;
    }
    .services__content p{
        font-size: 1rem;
        width: 75%;
        margin: 1em auto 2em;
    }
}

@media (max-width:680px) {
    .header{
        height:90vh;
    }
    .logo{
        width: 15%;
    }
    .intro__content{
        flex-direction: column-reverse;
        gap: 2em;
        z-index: 2;

    }
    .intro__content img{
        width: 50%;
    }
    .header__img{
        place-items: center;
    }
    .header__content{
        text-align: center;
        place-items: center;
        justify-content: flex-start;
        gap: 1em;
        width: 100%;
    }
    .header__btns{
        flex-direction: column;
    }
    .services{
        width: 100%;
    }
    .service__row{
        flex-direction: column;
    }
    .service__row + .service__row{
        margin-top: 0;
    }
    .service__card + .service__card{
        margin-left: 0;
        margin: 2em 0;
    }
    .service__card h4{
        font-size: 1rem;
    }
    .card__img{
        width: 25%;
    }
    .makeFetchHappen{
        width: 100%;
        padding: 2em;
    }
    .testmonials .heading__section{
        width: 100%;
    }
    .heading__section{
        font-size: 1.4rem;
    }
    .testmonial__wrapper{
        width: 100%;
        flex-direction: column;
        gap: 1em;
    }
    .testmonial__card  + .testmonial__card {
        margin-left: 0;
    }
    .howItWorks__steps{
        transform: rotate(0deg);
        width: 100%;
        align-items: center;
        gap: 1em;
    }
    .step__card{
        transform: rotate(0deg);
        width: 60%;
    }
    .bg-howItWorks{
        display: none;
    }
    .step__card:nth-child(3){
        align-self: center;
    }
    .asSeenOn{
        padding: 2em;
    }
    .asSeenOn .row{
        flex-direction: column;
        gap: 2em;
    }
    .makeFetchHappen__wrapper{
        padding: 2em;
    }
}
